.header-container {
  background-color: #ff7600;
  text-align: center;
  padding: 0.25rem;
  font-weight: 200px;
  font-size: 1.5rem;
}
h1 {
  padding: 30px;
  text-align: center;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
}
